@import "colors.less";

.lc-panel {
	border: 1px solid @header-gradient-color2;
	border-radius: 5px;
	background-color: white;

	.lc-panel-header {
		.header-gradient();
		padding: 5px 8px;
		
		.lc-panel-title {
			font-weight: bold;
			text-shadow: 1px 1px #D8E0FF;
    		color: #203050;
		}
	}
	
	.lc-panel-content {
		padding: 10px;
	}

	.lc-panel-footer {
		border-top: 1px solid #C0C0C0;
		background-color: #E8E8E8;
		padding: 3px 5px;
	}
}
