@import "colors.less";

.lc-panel {
	border: 1px solid @header-gradient-color2;
	border-radius: 5px;
	background-color: white;

	.lc-panel-header {
		.header-gradient();
		padding: 5px 8px;
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
		
		.lc-panel-title {
			font-weight: bold;
			text-shadow: 1px 1px #D8E0FF;
    		color: #203050;
		}
	}
	.lc-panel-content {
		padding: 10px;
	}

}
